body {
    font-family: Arial, sans-serif;
    background-color: #eef;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } /* Body - bloco de código que estiliza a fonte do texto,
  a cor de fundo da página, alinhamento do texto e itens, altura e a
  definição do layout flexivel para o contêiner */
  
  .container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 350px;
  }/* .container - bloco de código que estiliza a cor de fundo,
   a distância entre o conteúdo de um elemento e suas bordas, 
   permite arredondar os cantos de um elemento HTML, adicionar efeitos 
   de sombra em volta de um elemento, e largura de um elemento */
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }/* h1 - bloco que define o alinhamento do título e a margen infeiror*/
  
  table {
    width: 100%;
  }/* table - define a largura da tabela*/
  
  td {
    padding: 8px;
  }/* td - define a distância entre o conteúdo de um elemento e suas bordas */
  
  input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
  }/* input - define a largura, a distância entre o conteúdo de um elemento e suas bordas
  e o tamanho da fonte */
  
  button {
    margin-top: 10px;
    padding: 10px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }/* button - bloco que define a margen do topo, a distância entre o conteúdo de um elemento e suas bordas,
  cor de fundo, cor da fonte, a borda, permite arredondar os cantos de um elemento, o formato do
  cursor do mouse e a largura */
  
  button:hover {
    background-color: #005fa3;
  }/* button:hover - define a cor de fundo*/
  
  #resultado {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
  }/* #resultado - define a margen do topo, largura da fonte e alinhamento do texto*/